.mailing-list {
  background: $letch;
  padding: 15px 15px 0px 15px;
  text-align: center;
  // border-bottom: 1px solid black;
  h5 {
    font-family: 'Raleway';
    margin: 4px 0px 8px 0px;
  }
}
.br-r {
  border-radius: 0px 4px 4px 0px !important;
}
#subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
input#email {
  display: block;
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.footer {
  background: $letch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  color: rgba(80,80,80,1);
  height: 80px;
  font-family: 'Open Sans', sans-serif;
  a {
    font-size: 14px;
  }
  a:hover {
    color: rgba(120,120,120,1);
    text-decoration: none;
    cursor: pointer;
  }
  p {
    font-size: 14px;
  }
}

.insta-link {
  &:focus {
    color: #505050;
  }
}

.footer-right {
  width: 40%;
  text-align: right;
}
.footer-left {
  width: 40%;
  text-align: left;
}
.footer-insta {
  font-size: 4vmin;
  &:hover {
    color: rgba(120,120,120,1);
    cursor: pointer;
  }
}

.margin-top {
  margin: 12.5px 0 12.5px;
}

.margin-link {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

@media only screen and (max-width: 900px) {
  .margin-top {
    margin: 12.5px 0 0;
  }
  .margin-link {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    p {
      font-size: 12px;
    }
  }
}
